body.camera_list{
  .container{
    width: 1330px;
    max-width: 1330px;
  }
  .card.camera{
    min-height: 465px;
  }
  .buttons-box{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    div{
      padding: 0;
    }
    .ptz-btn{
      margin-left: auto;
      margin-right: auto;
      display: block;
      float: none;
      min-width: 32px;
      min-height: 32px;
    }
  }
}

